* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.sln text eol=crlf
*.slnx text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf

*.ico binary
*.jpg binary
*.jpeg binary
*.otf binary
*.png binary
*.ttf binary
*.webp binary
